header {
  display: flex;
  height: 430px; /* 400px? */
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aliceblue;
  font-size: 24px;
}
