html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}