@media screen and (max-width:1024px) {
  header {
    display: flex;
    height: 400px;
    width: 100%;
    background-color: #4056A1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
  }

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #4056A1;
    background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  main {
    display: flex;
    background-color: lavender;
    height: max-content;
    width: 100%;
    flex-direction: column;
  }
  
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .parent {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #4056A1;
    position: fixed;
  }
  
  .left {
    display: flex;
    color: #ffffff;
    background-color: #4056A1;
    font-size: 1.5rem;
    font-family: 'Bungee', cursive;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 10px;
    padding: 2px;
  }
  
  .right {
    display: flex;
    color: #ffffff;
    background-color: #4056A1;
    font-size: 1.5rem;
    font-family: 'Bungee', cursive;
    margin-right: 1.5em;
    margin-left: 1.5em;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    padding: 2px;
  } 
  
  .fa-angle-double-down:hover {
    color: black;
  }

  .new-tweet {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 50%;
    align-self: center;
    margin-top: 2.5rem;
  }
  
  .text {
    display: flex;
    height: 1.5rem;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12;
    color: black;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
  }
  
  .button {
    display: flex;
    width: fit-content;
    align-items: center;
    width: auto;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .tweet-button {
    padding: 0 1rem;
    background-image: linear-gradient(#bdb2f7, #ffffff);
    border: 3px solid #8a85ec;
    font-size: 16;
    font-weight: bold;
  }
  
  .slidedown {
    display: none;
    align-self: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: red;
    border: 2px solid red;
  }
  
  .counter {
    color: black;
  }
  
  .red-counter {
    color: red;
  }

  .tweet-container {
    display: flex ;
    margin-top: 100px;
    height: auto;
    width: 60%;
    align-self: center;
    flex-direction: column;
    border: 2px double dimgray;
    border-radius: 1rem;
  }
  
  .tweet-container:hover {
    box-shadow: 0.2rem 0.4rem #4056A1;
  }
  
  .tweet-header {
    display: flex;
    height: auto;
    color: black;
    background-color: aliceblue;
    flex-direction: initial;
    justify-content: flex-start;
    align-content: center;
    border-radius: inherit;
  }
  
  .tweet-body {
    display: flex;
    align-self: flex-start;
    background-color: aliceblue;
    background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
    width: 100%;
    align-content: flex-start;
    padding: 2px;
  }
  
  .tweet-footer {
    display: flex;
    height: 1.25rem;
    align-items: center;
    color: black;
    background-color: aliceblue;
    background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
    border-radius: inherit;
    padding: 5px;
  }
  
  .icons {
    display: flex;
    margin-left: auto;
    align-items: baseline;
  }
  
  .fa-flag:hover {
    color: cornflowerblue;
  }
  
  .fa-retweet:hover {
    color: cornflowerblue;
  }
  
  .fa-heart:hover {
    color: cornflowerblue;
  }
}