.tweet-container {
  display: flex ;
  margin-top: 100px;
  height: auto;
  width: 50%;
  align-self: center;
  flex-direction: column;
  border: 2px double dimgray;
  border-radius: 15px;
}

.tweet-container:hover {
  box-shadow: 5px 10px skyblue;
}

.tweet-header {
  display: flex;
  height: auto;
  color: black;
  background-color: rgb(231, 211, 197);
  flex-direction: initial;
  justify-content: flex-start;
  align-content: center;
}

.tweet-footer {
  display: flex;
  height: 20px;
  align-items: center;
  color: black;
}

.fa-flag:hover {
  color: cornflowerblue;
}

.fa-retweet:hover {
  color: cornflowerblue;
}

.fa-heart:hover {
  color: cornflowerblue;
}
