.tweet-container {
  display: flex ;
  margin-top: 100px;
  height: auto;
  width: 60%;
  align-self: center;
  flex-direction: column;
  border: 2px double dimgray;
  border-radius: 15px;
}

.tweet-container:hover {
  box-shadow: 3px 6px #4056A1;
}

.tweet-header {
  display: flex;
  height: auto;
  color: black;
  background-color: aliceblue;
  flex-direction: initial;
  justify-content: flex-start;
  align-content: center;
  border-radius: inherit;
}

.tweet-body {
  display: flex;
  align-self: flex-start;
  background-color: aliceblue;
  background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
  width: 100%;
  align-content: flex-start;
  padding: 2px;
}

.tweet-footer {
  display: flex;
  height: 20px;
  align-items: center;
  color: black;
  background-color: aliceblue;
  background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
  border-radius: inherit;
  padding: 5px;
}

.icons {
  display: flex;
  margin-left: auto;
  align-items: baseline;
}

.fa-flag:hover {
  color: cornflowerblue;
}

.fa-retweet:hover {
  color: cornflowerblue;
}

.fa-heart:hover {
  color: cornflowerblue;
}
